.order-store-container {
  display: flex;
  flex-direction: column;
  gap: 16rpx; // Gap between store header and items container
  padding: 24rpx; // Padding inside the store container
  background: linear-gradient(to right bottom, #F0F0F0 0%, rgba(255, 255, 255, 0) 100%);

  border-radius: 12rpx; // Border radius for the store container
  margin-bottom: 16rpx; // Margin between different store order blocks

  .store-header {
    display: flex;
    color: #333;

    .store-name {
      font-size: 28rpx;
    }

  }

  .order-item-container {
    .order-item {
      display: flex;
      align-items: flex-start;
      gap: 32rpx;
      width: 100%;

      .item-image {
        width: 144rpx;
        height: 144rpx;
        border-radius: 12rpx;
        background-color: #FFFFFF;
      }

      .item-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12rpx;

        .item-header {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;

          .item-name {
            color: #333333;
            font-size: 28rpx;
            font-family: "Source Han Sans";
            font-weight: 350;
            line-height: 40rpx;
          }
        }

        .item-specs {
          display: flex;
          gap: 32rpx;

          .spec {
            color: #666666;
            font-size: 24rpx;
            font-family: "Source Han Sans";
            font-weight: 300;
            line-height: 40rpx;
          }
        }

        .item-tags {
          display: flex;
          gap: 32rpx;

          .tag {
            color: #6600FF;
            font-size: 24rpx;
            font-family: "Source Han Sans";
            font-weight: 300;
            line-height: 40rpx;
          }
        }


      }
    }


  }

  .order-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 24rpx;

      .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding-left: 8rpx;

        .icon {
          margin-left: -8rpx;
          width: 40rpx;
          height: 40rpx;
          border-radius: 50%;
          box-sizing: border-box;
          border: 1px solid #FFFFFF;
          box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.3);
          background: #E6F0FF;
          top: 0;

          &:nth-child(1) {
            left: 0;
            z-index: 3;
          }

          &:nth-child(2) {
            left: 24rpx;
            z-index: 2;
          }

          &:nth-child(3) {
            left: 48rpx;
            z-index: 1;
          }
        }
      }

      .count {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
        gap: 4rpx;

        .label {
          color: #333;
          font-size: 20rpx;
          font-family: 'Source Han Sans';
          font-weight: 300;
        }

        .num {
          color: #333;
          font-size: 28rpx;
          font-family: 'Source Han Sans';
          font-weight: 300;
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      gap: 16rpx;

      .pay-label {
        color: #333;
        font-size: 20rpx;
        font-family: 'Source Han Sans';
        font-weight: 300;
      }

      .pay-amount {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
        gap: 2rpx;

        .currency {
          color: #333;
          font-size: 20rpx;
          font-family: 'Comfortaa';
          font-weight: 300;
        }

        .integer {
          color: #333;
          font-size: 28rpx;
          font-family: 'Comfortaa';
          font-weight: 400;
        }

        .decimal {
          color: #333;
          font-size: 20rpx;
          font-family: 'Comfortaa';
          font-weight: 300;
        }
      }
    }
  }

  .order-item-footer-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 24rpx;

    .item-button {
      width: 152rpx;
    }
  }
}