.cart-store {
  display: flex;
  flex-direction: column;
  gap: 16rpx;
  padding: 24rpx;
  background: linear-gradient(to right bottom, #F0F0F0 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 12rpx;

  .store-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .store-name {
      color: #333333;
      font-size: 28rpx;
      font-family: "Source Han Sans";
      font-weight: 400;
      line-height: 40rpx;
    }
  }
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 34rpx;

  .item-checkbox {
    display: flex;
    align-items: center;
  }

  .item-image {
    width: 160rpx;
    height: 160rpx;
    margin-right: 20rpx;
    border-radius: 8rpx;
  }

  .item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12rpx;

    .item-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .item-name {
        color: #333333;
        font-size: 28rpx;
        font-family: "Source Han Sans";
        font-weight: 350;
        line-height: 40rpx;
      }

      .item-delete {
        width: 32rpx;
        height: 32rpx;
        border-radius: 50%;
        background: #F8F8F8;
      }
    }

    .item-specs {
      display: flex;
      gap: 32rpx;

      .spec {
        color: #666666;
        font-size: 24rpx;
        font-family: "Source Han Sans";
        font-weight: 300;
        line-height: 40rpx;
      }
    }

    .item-tags {
      display: flex;
      gap: 32rpx;

      .tag {
        color: #6600FF;
        font-size: 24rpx;
        font-family: "Source Han Sans";
        font-weight: 300;
        line-height: 40rpx;
      }
    }

    .item-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 240rpx;

      .quantity {
        display: flex;
        align-items: flex-end;
        gap: 4rpx;

        .number {
          color: #333333;
          font-size: 28rpx;
          font-family: "Source Han Sans";
          font-weight: 300;
        }

        .unit {
          color: #333333;
          font-size: 20rpx;
          font-family: "Source Han Sans";
          font-weight: 300;
        }
      }

      .price {
        display: flex;
        align-items: flex-end;
        gap: 2rpx;

        .symbol {
          color: #333333;
          font-size: 20rpx;
          font-family: "Comfortaa";
          font-weight: 0;
        }

        .integer {
          color: #333333;
          font-size: 28rpx;
          font-family: "Comfortaa";
          font-weight: 400;
        }

        .decimal {
          color: #333333;
          font-size: 20rpx;
          font-family: "Comfortaa";
          font-weight: 0;
        }
      }
    }
  }
} 