.nav-bar-wrapper-normal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-sizing: border-box;

  &.white {
    background-color: #FFFFFF;
  }

  &.black {
    background-color: #000000;
  }

  &.transparent {
    background-color: transparent;
  }
}

.top-nav-bar-container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 20rpx;

  &.white {
    background-color: #FFFFFF;
  }

  &.black {
    background-color: #000000;
  }

  &.transparent {
    background-color: transparent;
  }

  .nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    // 白色主题
    &.white {
      .nav-buttons {
        background-color: #FFFFFF;
        box-shadow: inset 0 0 0 1px rgba(151, 151, 151, 0.2);
      }

      .return-button{
        width: 48rpx;
        height: 48rpx;
        font-size: 48rpx;
        color: #000000;
      }

      .title-text {
        color: #333333;
      }

      .nav-button {
        .iconfont {
          color: #333333;
        }
      }

      .divider {
        background-color: rgba(151, 151, 151, 0.2);
      }
    }

    // 黑色主题
    &.black {
      .nav-buttons {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
      }

      .title-text {
        color: #FFFFFF;
      }

      .return-button{
        width: 48rpx;
        height: 48rpx;
        font-size: 48rpx;
        color: #FFFFFF;
      }

      .nav-button {
        .iconfont {
          color: #FFFFFF;
        }
      }

      .divider {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    // 透明主题
    &.transparent {
      .nav-buttons {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
      }

      .title-text {
        color: #FFFFFF;
      }

      .return-button{
        width: 48rpx;
        height: 48rpx;
        font-size: 48rpx;
        color: #FFFFFF;
      }

      .nav-button {
        .iconfont {
          color: #FFFFFF;
        }
      }

      .divider {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  



  .title-text {
    font-size: 34rpx;
    font-family: sans-serif;
    text-align: center;
    font-weight: 100;
    line-height: 1;
    letter-spacing: normal;
    opacity: 0.9;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .divider {
    width: 1px;
    height: 32rpx;
    background-color: rgba(151, 151, 151, 0.2);
  }
} 